@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@500;600;700&family=Edu+SA+Beginner:wght@700&family=Gabarito&family=Goldman:wght@400;700&family=IBM+Plex+Mono:ital,wght@0,700;1,700&family=Kanit:ital,wght@0,500;0,700;1,400;1,700&family=Oswald:wght@500;600&family=Roboto:ital,wght@0,900;1,700&family=Victor+Mono:ital,wght@0,500;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

a {
    color: black;
}

body{
    overflow: hidden;
}

.LandingPage{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('https://cdn.wallpapersafari.com/93/70/CJQa2T.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.LandingPage img{
    overflow: hidden;
    position: absolute;
    bottom: 0%;
    left: 400px;
    width: 70%;
    height: 700px;
    z-index: 20;
    filter: drop-shadow(5px 70px 50px rgb(1, 1, 1));
    pointer-events: none;
}

.image-container {
    overflow: hidden;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 700px;
}

.LandingPage h1{
    font-family: 'Kanit', sans-serif;
    color: white;
    font-size: 240px;
    letter-spacing: 10px;
    text-shadow: 5px 10px 10px rgb(0, 0, 0);
    cursor: pointer;
    pointer-events: none;
}

.landing_txt{
    padding-top: 50px;
    padding-left: 20px;
}

.LandingPage button{
    width: 80px;
    height: 80px;
    position: absolute;
    border: none;
    border-radius: 50%;
    top: 80%;
    left: 15%;
    background-color: white;
    font-family: sans-serif 'roboto';
    font-weight: 900;
    box-shadow: 1px 1px 10px 10px black;
    cursor: pointer;
}

#MainPage{
    width: 100%;
    height: 100vh;
    background-image: url('https://cdn.wallpapersafari.com/93/70/CJQa2T.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    overflow: hidden;
}

#soc_media_box{
    width: 5vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

#soc_media_box i {
    transition: .5s ease;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

#infopage{
    width: 95vw ;
    overflow: hidden;
}

#nav_txt{
    color: white;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    z-index: 5;
}

.nav{
    padding-top: 20px;
    padding-left: 100px;
    display: flex;
    gap: 50px;
    font-size: 8px;
    z-index: 2;
}

.main_Content {
    width: 80%;
    height: 100vh;
    position: absolute;
    top: 0;
    overflow: hidden;
}

.main_Content img{
width: 100%;
height: 100%;
}

.program_header{
    width: 900px;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 120px;
    line-height: 160px;
    text-shadow: 2px 5px 10px black;
    top: 25%;
    z-index: 5;
    letter-spacing: 2px;
    padding-left: 40px;
    pointer-events: none;
}

#main_cont_desc{
    position: absolute;
    top: 80%;
    font-size: 10px;
    left: 4%;
    width: 40%;
    color: white;
    text-shadow: 5px 2px 10px black;
    font-family: 'Roboto', sans-serif;
    pointer-events: none;
}

.more_detail_box{
    width: 40%;
    height: 20vh;
    background-color: rgb(34, 31, 31);
    position: absolute;
    right: 0;
    z-index: 50;
    bottom: 0;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.more_detail_box div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.more_detail_box div h5{
    color: white;
    font-family: 'Oswald', sans-serif;
    text-shadow: 1px 5px 7px black;
    font-size: 20px;
}

.more_detail_box div p{
    font-family: 'Oswald', sans-serif;
    text-shadow: 5px 4px 5px rgb(0, 0, 0);
    font-size: 12px;
    color: white;

}

#dif_button{
    width: 80px;
    height: 80px;
    z-index: 50000;
    border-radius: 50%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 1px 10px white;
    cursor: pointer;
    border: none;
    background-color: rgb(255, 255, 255);
    transition: 1s;
}
#dif_button:hover{
    box-shadow: 2px 1px 10px 5px black;
}
#muscle_img{
    z-index: 60;
    width: 250px;
    height: 300px;
    margin-top: 40px;
    margin-right: 0px;
    filter: drop-shadow(5px 70px 50px rgb(1, 1, 1));
    pointer-events: none;
    pointer-events: none;
}
#abb_muscle_img{
    pointer-events: none;
    width: 470px;
    height: 270px;
    margin-top: 50px;
    margin-right: 10px;
    filter: drop-shadow(5px 70px 50px rgb(1, 1, 1));
}

#back_muscle_img{
    pointer-events: none;
    width: 570px;
    height: 300px;
    margin-top: 70px;
    filter: drop-shadow(5px 70px 50px rgb(1, 1, 1));
}

#leg_muscle_img{
    width: 250px;
    margin-top: 100px;
    filter: drop-shadow(5px 70px 50px rgb(1, 1, 1));
}
.right_mainPage{
    overflow: hidden;
    background-color: rgb(43, 41, 41);
    width: 20%;
    height: 90vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 1px 6px black;
}

.switchers, .numeration_slide{
    position: absolute;
    color: white;
    top: 44%;
    right: 4%;
    z-index: 5000;
    display: flex;
    align-items: center;
    gap: 10px;
}

.numeration_slide {
    top: 52%;
    right: 7%;
    font-family: 'Courier New', Courier, monospace;
}
.line{
    width: 100px;
    height: 3px;
    background-color: white;
    border-radius: 40px;
}
.switchers i {
    font-size: 40px;
    cursor: pointer;
}

#soc_media_box i:hover{
    scale: 1.5;
}

.nav h2{
    transition: .2s ease-in-out;
    text-shadow: 2px 2px 8px black;
}

.nav h2:hover{
    scale:1.2;
    text-shadow: 1px 1px 5px black;
}

#servicesPage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('https://cdn.wallpapersafari.com/93/70/CJQa2T.jpg');
}

.Services_txt{
    padding-top: 50px;
    width: 800px;
    height: 80vh;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    font-size: 70px;
}
.Services_txt h1 {
    cursor: pointer;
    align-items: center;
    display: flex;
    gap: 20px;
    text-shadow: 4px 3px 10px black;
    transition: .2s;
    transform-origin: 0;
}
.Services_txt h1:hover{
    scale: 1.1;
}

.Services_txt i {
    font-size: 60px;
    transition: .6s;
}
.mainServiceContainer{
    display: flex;
}
.mainServiceContainer p {
    margin-top: 20px;
    margin-left: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: .4s;
    transform-origin: 0;
}

.mainServiceContainer p:hover {
    text-shadow: 2px 4px 20px black;
    scale: 1.3;
}
.mainServiceContainer p i {
    font-size: 20px;
}

#weight_img{
    width: 500px;
    height:300px;
    margin-top: 200px;
    margin-left: 50px;
    pointer-events: none;
    filter: drop-shadow(5px 100px 50px rgb(1, 1, 1));

}

#weight_txt{
    position: absolute;
    left: 81%;
    top: 76%;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}

.upperbody_programs{
    position: absolute;
    top: 35%;
    background-color: rgba(57, 56, 56, 0.776);
    min-width: 120%;
    height: 60vh;
    display: flex;
    gap: 100px;
    align-items: center;
    cursor: grabbing;
}

.Card_program{
    border-radius: 40px;
    width: 600px;
    height: 80%;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    
}
.Card_program h1{
    transform: translateY(70px);
    font-size: 70px;
    letter-spacing: 1.5px;
}
.Card_program img{
    width: 100%;
    height:200px ;
    z-index: 600;
    transform: translateY(-40px);
    pointer-events: none;
}

#shoulder_muscle_img_small{
    transform: translateY(-120px);
    width: 60%;
}

#biceps_muscle_img_small{
    width: 60%;
}

#back_muscle_img_small{
    transform: translateY(-100px);
    width: 100%;
}

.Card_program button{
    position: absolute;
    bottom: 80px;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 900;
    box-shadow: 2px 10px 10px 1px rgb(79, 75, 75);
    transition: .5s;
}

.Card_program button:hover{
    scale: 0.8;
}

.l_b img {
    width: 60%;
    height: 75%;
    transform: translateY(-180px);
}

#full_program_lower_img{
    transform: translateY(-90px);
    height: 80%;
}